@using FourthCoffee.Models;
@{
    
    var tempProduct = TempData["FeaturedProduct"] as Product;
    var viewDataProduct = ViewData["FeaturedProduct"] as Product;
    var viewBagProduct = ViewBag.FeaturedProduct;
    ViewBag.Title = "Details";
}
<h2>About</h2>
<p>
     Put content here.
</p>
