@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

Na podstawie materiałów:

http://www.hanselman.com/blog/IntegratingASPNETMVC3IntoExistingUpgradedASPNET4WebFormsApplications.aspx

http://www.britishdeveloper.co.uk/2011/05/convert-web-forms-mvc3-how-to.html


Konwersja projketu:
 
http://msdn.microsoft.com/en-us/library/aa983476%28v=vs.100%29.aspx

http://stackoverflow.com/questions/19561982/visual-studio-2013-missing-convert-to-web-application